#! /usr/bin/env python
# Forearm camera configuration

PACKAGE='chess_player'
import roslib; roslib.load_manifest(PACKAGE)

from math import pi
from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

# def add (self, name, paramtype, level, description, default = None, min = None, max = None, edit_method = ""):
gen.add ("h_rho", int_t, 0, "The rho value for Hough transformation.", 1, 1, 5)
gen.add ("h_threshold", int_t, 0, "Threshold to use for Hough transformation.", 50, 0, 255)
gen.add ("h_min_length", int_t, 0, "Minimum length of a line for Hough transformation.", 100, 1, 640)
gen.add ("channel", int_t, 0, "Channel to use for conversion to grayscale.", 0, 0, 2)
gen.add ("output_image", bool_t, 0, "Turn on this setting to output the grayscale image with lines and intersections super-imposed.", False)

exit(gen.generate(PACKAGE, "chess_board_locator", "Locator"))
