<launch>
  <!-- this launch file helps you to setup the chess_board_locator -->

  <node pkg="chess_player" type="chess_board_locator" name="chess_board_locator" output="screen"/>

  <node pkg="dynamic_reconfigure" type="reconfigure_gui" name="reconfigure_gui"/>

  <node pkg="image_view" type="image_view" name="image_view">
    <remap from="image" to="/chess_board_locator/image"/>
  </node>

</launch>
